/* STYLES */

.pull_left {
    float: left;
}
.pull_right {
    float: right;
}

.userpic {
    display: block;
    border-radius: 50%;
    overflow: hidden;
}
.userpic .initials {
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}

.color_purple,
.userpic5,
.media_game .fill {
    background-color: #9884e8;
}

.color_orange,
.userpic8,
.media_contact .fill {
    background-color: #ff8c44;
}

body {
    margin: 0;
    font: 12px/18px 'Open Sans',"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
    min-height: 90%;
}

html {
    height: 90%;
}

.cuerpo{ 
    background: #e5ddd5;
}

.gradiente{
    text-align: center; 
    font-size: x-large; 
    background: linear-gradient(#009688 0%,#009688 130px, #d9dbd5 130px, #d9dbd5 100%);
    color: white;
}

#ParrafoWhatsApp{
    color: white;
}

.margenDeArriba {
    margin-top: 10px;
}

.margenDeAbajo {
    margin-bottom: 10px;
}

.centrar{
    text-align: center;
}

.styleTextArea{
    border: 1px solid #ccc;
}


